@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 14.50%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 14.50%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 14.50%;
		--primary: 0 0% 20.50%;
		--primary-foreground: 0 0% 98.50%;
		--secondary: 0 0% 97%;
		--secondary-foreground: 0 0% 20.50%;
		--muted: 0 0% 97%;
		--muted-foreground: 0 0% 55.60%;
		--accent: 0 0% 97%;
		--accent-foreground: 0 0% 20.50%;
		--destructive: 0 80% 57.70%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 92.20%;
		--input: 0 0% 92.20%;
		--ring: 0 0% 70.80%;
	}

	.dark:root {
		--background: 240 10% 3.90%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.90%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.90%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.90% 10%;
		--secondary: 240 3.70% 15.90%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.70% 15.90%;
		--muted-foreground: 240 5% 64.90%;
		--accent: 240 3.70% 15.90%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.80% 30.60%;
		--destructive-foreground: 0 85.70% 97.30%;
		--border: 240 3.70% 15.90%;
		--input: 240 3.70% 15.90%;
		--ring: 240 4.90% 83.90%;
	}
}